<h1><%= @cocktail.name %> <%= unicode_rating(@cocktail.rating) %></h1>
<h2>Ingredients</h2>
<ul>
  <% @cocktail.cocktails_ingredients.each do |component| %>
    <li><strong><%= component.ingredient.name %></strong> - <%= component.quantity %> <%=component.measurement %></li>
  <% end %>
</ul>

<h2>Method</h2>
<%= @cocktail.recipe %>

<h2>Variations</h2>
<p><%= @cocktail.variations.presence || "No variations recorded" %></p>

<div>
  <%= link_to "Edit this drink", edit_cocktail_path(@cocktail) %> |
  <%= link_to "Back to drinks", root_path %>

  <%#= button_to "Destroy this drink", @cocktail, method: :delete %>
</div>
