<%= form_with(model: cocktail) do |form| %>
  <% if cocktail.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
        <% cocktail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
    <%= form.text_field :name, class: "input input-bordered w-full max-w-xs", required: true, autofocus: true, placeholder: 'Ex: Forrest Gump' %>
  </div>

  <h2 class="font-bold text-4xl">Ingredients</h2>
  <div>
    <%= form.fields_for(:cocktails_ingredients) do |ci_fields| %>
      <div class="my-5">
        <%= ci_fields.label :ingredient_id, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
        <%= ci_fields.collection_select :ingredient_id, Ingredient.order(:name), :id, :name, class: "input input-bordered w-full max-w-xs", required: true, autofocus: true %>
      </div>

      <div class="my-5">
        <%= ci_fields.label :quantity, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
        <%= ci_fields.number_field :quantity, class: "input input-bordered w-full max-w-xs", required: true, autofocus: true %>
      </div>

      <div class="my-5">
        <%= ci_fields.label :measurement, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
        <%= ci_fields.text_field :measurement, class: "input input-bordered w-full max-w-xs", required: true, autofocus: true, placeholder: 'Example: ml' %>
      </div>
  <% end %>
  </div>

  <h2 class="font-bold text-4xl">Method</h2>
  <div class="my-5">
    <%= form.label :recipe, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
    <%= form.rich_textarea :recipe, class: "input input-bordered w-full max-w-xs", required: true, autofocus: true, placeholder: 'Ex: Forrest Gump' %>
  </div>

  <h2 class="font-bold text-4xl">Accoutrement</h2>
  <div class="my-5">
    <%= form.label :glass, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
    <%= form.collection_select(
          :glass_id,
          Glass.order(:name), :id, :name,
          { prompt: "Select glass" },
          id: "glass-select",
          data: { controller: 'select' },
          class: "input input-bordered w-full max-w-xs",
          required: true,
          autofocus: true) %>
  </div>

  <div class="my-5">
    <%= form.label :ice, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
    <%= form.collection_select(
          :ice_id,
          Ice.order(:name), :id, :name,
          { prompt: "Select ice" },
          id: "ices-select",
          required: true,
          data: { controller: 'select' },
          class: "input input-bordered w-full max-w-xs") %>
  </div>

  <div class="my-5">
    <%= form.label :garnish, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
    <%= form.text_area :garnish, class: "input input-bordered w-full max-w-xs", required: true, autofocus: true %>
  </div>

  <div class="my-5">
    <%= form.label :rating, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
    <%= form.select :rating,
                    options_for_select(Cocktail.ratings.map { |key, value| [key.titleize, Cocktail.ratings.key(value)]}, cocktail.rating),
                    class: "input input-bordered w-full max-w-xs",
                    required: true,
                    autofocus: true %>
  </div>

  <div class="my-5">
    <%= form.label :notes, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
    <%= form.text_area :notes, class: "input input-bordered w-full max-w-xs", autofocus: true %>
  </div>

  <div class="my-5">
    <%= form.label :variations, class: "form-control font-bold w-full max-w-xs label-text", style: "display: block" %>
    <%= form.text_area :variations, class: "input input-bordered w-full max-w-xs", autofocus: true %>
  </div>

  <div class="inline">
    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
